/* Animation on heading */
@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

.heading-1 {
    animation: slideInLeft 1s ease-in both;
    color: white;
    padding: 20px;
}

.text {
    text-align: center;
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.container {
   display: inline-block;
}


/* Hide the game content initially */
#game-content {
    display: none;
}

/* Center the start button */
.start-button {
    text-align: center;
    margin: 15px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 45px;
    color: white;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: transform 0.3s;
}

.start-button:hover {
    transform: translateY(-10px);
}

/* Create transition on the game buttons */
.button-directions-quit-group {
    text-align: left;
    margin: 5px;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-rgba);
    background-color: var(--clr-accent);
    border-radius: 5px;
    transition: transform 0.3s;
}

.button-directions-quit-group:hover {
    transform: translateY(-10px);
}
/* Create transition on the game buttons */
.inventory {
    text-align: left;
    margin: 5px;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--clr-rgba);
    background-color: var(--clr-accent);
    border-radius: 5px;
    transition: transform 0.3s;
}

.inventory:hover {
    transform: translateY(-10px);
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(https://i0.wp.com/blog.tripfez.com/wp-content/uploads/2020/01/Mysterious-and-Gorgeous-Forests-in-Europe-3-%E2%80%93White-Carpathians.png?w=655&ssl=1);
    background-size: cover;
}