<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="adventure.css">
    <title>Adventure Game</title>

</head>

<body>
    <h1>Welcome to the Adventure of the Hidden Treasure!</h1>
    <p>You are an intrepid explorer seeking a legendary treasure hidden deep within an ancient temple.</p>
    <p>Your journey will be fraught with peril, but the rewards are immeasurable. Good luck!</p>
    
    <p id="message"></p>
    <div id="game-output"></div>
    <!-- <input type="text" id="user-input" placeholder="Enter your choice"> -->
    <!-- <button onclick="nextStep()">Submit</button> -->
    <!-- <form id="user-input"></form> -->
    <div class="start-button">
        <button onclick="play_game()">Start Game</button>
    </div>


    <div class="button-directions-quit-group">
      
        <button onClick="goDirection('north')"></button>
        <button onClick="goDirection('south')"></button>
        <button onClick="goDirection('east')"></button>
        <button onClick="goDirection('west')"></button>
        <button onClick="quitGame()">Quit></button>
      </div>

      <div class="inventory">
      
        <button onClick="showInventory()">Show Inventory</button>
        
      </div>

    <form action="/action" method="POST">
        <label for="action">What do you want to do?</label>
        <input type="text" name="action" id="action" required>
        <button type="submit">Submit</button>
    </form>

    <form method="POST" action="{{ url_for('action') }}">
        <label for="item">If taking an item, specify:</label>
        <input type="text" name="item" id="item">
        <button type="submit" name="action" value="take">Take Item</button>
    </form>

    <script scr="adventure.js"></script>  <!--Link to javascript file -->
</html>